# Collection Verification

Collections are verified on Treasure to signal genuine versions of collections that you may be looking for. Scammers and bad actors may create fake versions of collections to trick users into purchasing or trading NFTs. The verification mark on Treasure helps avoid these cases.

Initially, all collections on Treasure will be verified as they will have undergone a curation process to be listed on the marketplace.

Once Treasure moves towards to becoming fully permissionless, however, collections will need to undergo a collection verification process to be created at a later date.

_Please note: verification on Treasure **DOES NOT** constitute an endorsement or recommendation to purchase NFTs from the collection._
